/* ======== LAYOUT =========*/

.container {
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    display: grid;
    grid-template-areas:
        "time"
        "date";
    grid-template-columns: 1fr;
}

.time {
    grid-area: time;
}

.clock {
    grid-area: date;
}

@media(min-width: 820px) {

    .clock {
        grid-template-areas:
            "date time";
    }
}